<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css"
    <title>Clase 3</title>
</head>

<body>
    <h1> Hola Mundo <%= name %> </h1>

    <ul>
        <% pokemons.forEach((pokemon) => { %>
            <li> <%= pokemon.name %> </li>
        <% }); %>
    </ul>

    <div class="container">
        <% pokemons.forEach((pokemon) => { %>
            <div class="item">
                <p> <%= pokemon.name %> </p>
                <img id=<%= pokemon.name %> alt=<%= pokemon.name%>>
                <p> <%= pokemon.type %> </p>
            </div>
        <% }); %>
    </div>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus aut sapiente at eum. Error inventore
        minima minus nesciunt placeat numquam dolore harum tempora repudiandae dolor! Amet a inventore id.</p>

    <script src="js/index.js"></script>
</body>
</html>